.card {
  box-shadow: 0px 0px 5px 2px grey;
  width: 200px;
  height: 200px;
  padding: 5px;
}

/* 直接子代选择器 */
.card > .title {
  font-size: 20px;
  font-weight: 800;
  border-bottom: 1px solid black;
}
